# Alpha Vantage: create a free key at https://www.alphavantage.co/support/#api-key
ALPHA_VANTAGE_API_KEY=3XXFF9R9S0JLZNWY
STOCK_SYMBOLS=IBM
# Application database
POSTGRES_USER=stock_user
POSTGRES_PASSWORD=ritik9779
POSTGRES_DB=stock_market

# Airflow UI: http://localhost:8080
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=Airflow@2026
AIRFLOW_FERNET_KEY=

# pgAdmin UI: http://localhost:5050
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=ritik9779
